# Development tools
preview/
*.bat
mock-data.json

# Excluded Templates
themes/neo-dashboard/

# OS and IDE
.DS_Store
.idea/
.vscode/
*.zip
*.js
node_modules/
build_temp/
test_extract/
package.json
package-lock.json
